body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    justify-content: center;
    display: flex;
}

h1 img {
    height: 150px;
}

#leftSnakeEye {
    display: flex;
    align-self: center;
    width: 10vw;
}

#rightSnakeEye {
    display: flex;
    align-self: center;
    width: 10vw;
}