/****** Object:  Database [J10_HVK_T03]    Script Date: 2025-10-17 7:08:07 PM ******/
CREATE DATABASE [J10_HVK_T03]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S0', MAXSIZE = 250 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  User [2485958@cegep-heritage.qc.ca]    Script Date: 2025-10-17 7:08:08 PM ******/
CREATE USER [2485958@cegep-heritage.qc.ca] FROM  EXTERNAL PROVIDER  WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [2468817@cegep-heritage.qc.ca]    Script Date: 2025-10-17 7:08:08 PM ******/
CREATE USER [2468817@cegep-heritage.qc.ca] FROM  EXTERNAL PROVIDER  WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [2468041@cegep-heritage.qc.ca]    Script Date: 2025-10-17 7:08:08 PM ******/
CREATE USER [2468041@cegep-heritage.qc.ca] FROM  EXTERNAL PROVIDER  WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [2466563@cegep-heritage.qc.ca]    Script Date: 2025-10-17 7:08:08 PM ******/
CREATE USER [2466563@cegep-heritage.qc.ca] FROM  EXTERNAL PROVIDER  WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'2485958@cegep-heritage.qc.ca'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'2468817@cegep-heritage.qc.ca'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'2468041@cegep-heritage.qc.ca'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'2466563@cegep-heritage.qc.ca'
GO
/****** Object:  Sequence [dbo].[DiscountSeq]    Script Date: 2025-10-17 7:08:08 PM ******/
CREATE SEQUENCE [dbo].[DiscountSeq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Sequence [dbo].[EmergencySeq]    Script Date: 2025-10-17 7:08:08 PM ******/
CREATE SEQUENCE [dbo].[EmergencySeq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Sequence [dbo].[FoodSeq]    Script Date: 2025-10-17 7:08:08 PM ******/
CREATE SEQUENCE [dbo].[FoodSeq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Sequence [dbo].[HousingSeq]    Script Date: 2025-10-17 7:08:08 PM ******/
CREATE SEQUENCE [dbo].[HousingSeq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Sequence [dbo].[ItemSeq]    Script Date: 2025-10-17 7:08:08 PM ******/
CREATE SEQUENCE [dbo].[ItemSeq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Sequence [dbo].[MedSeq]    Script Date: 2025-10-17 7:08:08 PM ******/
CREATE SEQUENCE [dbo].[MedSeq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Sequence [dbo].[PetSeq]    Script Date: 2025-10-17 7:08:08 PM ******/
CREATE SEQUENCE [dbo].[PetSeq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Sequence [dbo].[PriceSeq]    Script Date: 2025-10-17 7:08:08 PM ******/
CREATE SEQUENCE [dbo].[PriceSeq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Sequence [dbo].[ReservationSeq]    Script Date: 2025-10-17 7:08:08 PM ******/
CREATE SEQUENCE [dbo].[ReservationSeq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Sequence [dbo].[ServiceSeq]    Script Date: 2025-10-17 7:08:09 PM ******/
CREATE SEQUENCE [dbo].[ServiceSeq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Sequence [dbo].[UserSeq]    Script Date: 2025-10-17 7:08:09 PM ******/
CREATE SEQUENCE [dbo].[UserSeq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Sequence [dbo].[VaccSeq]    Script Date: 2025-10-17 7:08:09 PM ******/
CREATE SEQUENCE [dbo].[VaccSeq] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [int] NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[FirstName] [varchar](20) NOT NULL,
	[LastName] [varchar](20) NOT NULL,
	[Type] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdditionalItems]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdditionalItems](
	[ItemId] [int] NOT NULL,
	[ItemDescription] [varchar](4) NOT NULL,
	[ReservationId] [int] NOT NULL,
	[PetId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat](
	[Type] [varchar](7) NOT NULL,
	[LitterTrained] [bit] NOT NULL,
	[PetId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PetId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Address] [varchar](40) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[PostalCode] [char](6) NOT NULL,
	[Province] [varchar](20) NOT NULL,
	[HomePhone] [char](12) NULL,
	[CellPhone] [char](12) NULL,
	[Email] [varchar](40) NOT NULL,
	[Password] [varchar](30) NULL,
	[AccountId] [int] NOT NULL,
	[EmergencyContactID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DiscountID] [int] NOT NULL,
	[DiscountRate] [int] NOT NULL,
	[DiscountName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dog]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dog](
	[Breed] [varchar](40) NOT NULL,
	[Size] [char](1) NOT NULL,
	[Climber] [bit] NOT NULL,
	[Barker] [bit] NOT NULL,
	[PetId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PetId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyContact]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyContact](
	[EmergencyContactID] [int] NOT NULL,
	[FirstName] [varchar](20) NOT NULL,
	[LastName] [varchar](20) NOT NULL,
	[Phone] [char](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmergencyContactID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[AccountId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[FoodId] [int] NOT NULL,
	[Type] [char](3) NOT NULL,
	[Brand] [varchar](30) NOT NULL,
	[Name] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Housing]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Housing](
	[HousingId] [int] NOT NULL,
	[Type] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HousingId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[ReservationId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medication]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medication](
	[MedicationId] [int] NOT NULL,
	[Type] [varchar](80) NOT NULL,
	[ReservationId] [int] NOT NULL,
	[PetId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicationId] ASC,
	[ReservationId] ASC,
	[PetId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicationDose]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicationDose](
	[Time] [varchar](25) NULL,
	[Dosage] [int] NOT NULL,
	[MedicationId] [int] NOT NULL,
	[ReservationId] [int] NOT NULL,
	[PetId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicationId] ASC,
	[ReservationId] ASC,
	[PetId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[AccountId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pet]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[PetId] [int] NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Species] [char](3) NOT NULL,
	[Sterelized] [bit] NOT NULL,
	[SpecialNotes] [varchar](1) NULL,
	[Sex] [char](1) NOT NULL,
	[BirthDate] [date] NULL,
	[AccountId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PetId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetReservation]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetReservation](
	[ReservationId] [int] NOT NULL,
	[FoodId] [int] NULL,
	[PetId] [int] NOT NULL,
	[HousingId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC,
	[PetId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetReservationService]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetReservationService](
	[ReservationId] [int] NOT NULL,
	[PetId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC,
	[PetId] ASC,
	[ServiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetVaccination]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetVaccination](
	[ExpirationDate] [date] NOT NULL,
	[PetId] [int] NOT NULL,
	[VaccinationId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PetId] ASC,
	[VaccinationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[PriceID] [int] NOT NULL,
	[PriceName] [varchar](20) NOT NULL,
	[PriceCost] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PriceID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationId] [int] NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[PickupTime] [nchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Run]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Run](
	[Size] [char](1) NOT NULL,
	[HousingId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HousingId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceId] [int] NOT NULL,
	[ServiceName] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suite]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suite](
	[HousingId] [int] NOT NULL,
	[Accommodation] [nvarchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[HousingId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccination]    Script Date: 2025-10-17 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccination](
	[VaccinationId] [int] NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Type] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VaccinationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountId], [Username], [FirstName], [LastName], [Type]) VALUES (1, N'janesmith', N'Jane', N'Smith', N'Customer')
INSERT [dbo].[Account] ([AccountId], [Username], [FirstName], [LastName], [Type]) VALUES (2, N'mikeophone', N'Mike', N'O''Phone', N'Customer')
INSERT [dbo].[Account] ([AccountId], [Username], [FirstName], [LastName], [Type]) VALUES (3, N'dwightwong', N'Dwight', N'Wong', N'Customer')
GO
INSERT [dbo].[Customer] ([Address], [City], [PostalCode], [Province], [HomePhone], [CellPhone], [Email], [Password], [AccountId], [EmergencyContactID]) VALUES (N'202 Poodle Path', N'Gatineau', N'J8A1R2', N'QC', N'8195551111  ', N'8195559993  ', N'jsmith@gmail.com', NULL, 1, 13)
INSERT [dbo].[Customer] ([Address], [City], [PostalCode], [Province], [HomePhone], [CellPhone], [Email], [Password], [AccountId], [EmergencyContactID]) VALUES (N'74 Benton', N'Gatineau', N'J8Y6T3', N'QC', N'8195552222  ', N'8195559992  ', N'mophone@gmail.com', NULL, 2, 13)
INSERT [dbo].[Customer] ([Address], [City], [PostalCode], [Province], [HomePhone], [CellPhone], [Email], [Password], [AccountId], [EmergencyContactID]) VALUES (N'384 Garten', N'Ottawa', N'K8Y6T3', N'ON', N'8195555222  ', N'8195559991  ', N'dwong@gmail.com', NULL, 3, 13)
GO
INSERT [dbo].[Dog] ([Breed], [Size], [Climber], [Barker], [PetId]) VALUES (N'Llassapoo', N's', 0, 0, 5)
INSERT [dbo].[Dog] ([Breed], [Size], [Climber], [Barker], [PetId]) VALUES (N'Standard Poodle', N'm', 0, 0, 6)
INSERT [dbo].[Dog] ([Breed], [Size], [Climber], [Barker], [PetId]) VALUES (N'Rhodesian Ridgeback', N'l', 1, 0, 8)
GO
INSERT [dbo].[EmergencyContact] ([EmergencyContactID], [FirstName], [LastName], [Phone]) VALUES (13, N'Dana', N'Scully', N'7575551235  ')
INSERT [dbo].[EmergencyContact] ([EmergencyContactID], [FirstName], [LastName], [Phone]) VALUES (14, N'Alex', N'Krycek', N'7575551239  ')
GO
INSERT [dbo].[Employee] ([AccountId]) VALUES (6)
INSERT [dbo].[Employee] ([AccountId]) VALUES (7)
GO
INSERT [dbo].[Food] ([FoodId], [Type], [Brand], [Name]) VALUES (1, N'Dog', N'Presidents Choice', N'Xtra Meaty Chicken and Rice')
GO
INSERT [dbo].[Housing] ([HousingId], [Type]) VALUES (1, N'Run')
INSERT [dbo].[Housing] ([HousingId], [Type]) VALUES (2, N'Run')
INSERT [dbo].[Housing] ([HousingId], [Type]) VALUES (3, N'Run')
GO
INSERT [dbo].[Medication] ([MedicationId], [Type], [ReservationId], [PetId]) VALUES (4, N'Medicam', 4, 10)
GO
INSERT [dbo].[MedicationDose] ([Time], [Dosage], [MedicationId], [ReservationId], [PetId]) VALUES (N'Once a Day', 1, 4, 4, 10)
GO
INSERT [dbo].[Pet] ([PetId], [Name], [Species], [Sterelized], [SpecialNotes], [Sex], [BirthDate], [AccountId]) VALUES (5, N'Scrabble', N'dog', 0, N'S', N'f', NULL, 1)
INSERT [dbo].[Pet] ([PetId], [Name], [Species], [Sterelized], [SpecialNotes], [Sex], [BirthDate], [AccountId]) VALUES (6, N'Archie', N'dog', 0, N'S', N'f', NULL, 1)
INSERT [dbo].[Pet] ([PetId], [Name], [Species], [Sterelized], [SpecialNotes], [Sex], [BirthDate], [AccountId]) VALUES (8, N'Busker', N'dog', 0, NULL, N'M', CAST(N'2011-01-01' AS Date), 2)
GO
INSERT [dbo].[PetReservation] ([ReservationId], [FoodId], [PetId], [HousingId]) VALUES (1, 1, 5, 1)
INSERT [dbo].[PetReservation] ([ReservationId], [FoodId], [PetId], [HousingId]) VALUES (2, 1, 9, 2)
INSERT [dbo].[PetReservation] ([ReservationId], [FoodId], [PetId], [HousingId]) VALUES (3, 1, 9, 3)
GO
INSERT [dbo].[PetReservationService] ([ReservationId], [PetId], [ServiceId]) VALUES (1, 5, 3)
INSERT [dbo].[PetReservationService] ([ReservationId], [PetId], [ServiceId]) VALUES (2, 9, 6)
GO
INSERT [dbo].[PetVaccination] ([ExpirationDate], [PetId], [VaccinationId]) VALUES (CAST(N'2027-03-05' AS Date), 5, 1)
INSERT [dbo].[PetVaccination] ([ExpirationDate], [PetId], [VaccinationId]) VALUES (CAST(N'2027-03-05' AS Date), 5, 2)
INSERT [dbo].[PetVaccination] ([ExpirationDate], [PetId], [VaccinationId]) VALUES (CAST(N'2027-03-05' AS Date), 5, 3)
GO
INSERT [dbo].[Reservation] ([ReservationId], [StartDate], [EndDate], [PickupTime]) VALUES (1, CAST(N'2025-11-12' AS Date), CAST(N'2025-11-19' AS Date), NULL)
INSERT [dbo].[Reservation] ([ReservationId], [StartDate], [EndDate], [PickupTime]) VALUES (2, CAST(N'2025-12-01' AS Date), CAST(N'2026-01-05' AS Date), NULL)
INSERT [dbo].[Reservation] ([ReservationId], [StartDate], [EndDate], [PickupTime]) VALUES (3, CAST(N'2026-03-01' AS Date), CAST(N'2026-03-20' AS Date), NULL)
GO
INSERT [dbo].[Service] ([ServiceId], [ServiceName]) VALUES (3, N'Walking             ')
INSERT [dbo].[Service] ([ServiceId], [ServiceName]) VALUES (4, N'Bathing             ')
INSERT [dbo].[Service] ([ServiceId], [ServiceName]) VALUES (5, N'Grooming            ')
GO
INSERT [dbo].[Vaccination] ([VaccinationId], [Name], [Type]) VALUES (1, N'Bordetella', N'Dog')
INSERT [dbo].[Vaccination] ([VaccinationId], [Name], [Type]) VALUES (2, N'Distemper', N'Dog')
INSERT [dbo].[Vaccination] ([VaccinationId], [Name], [Type]) VALUES (3, N'Hepatitis', N'Dog')
GO
ALTER TABLE [dbo].[AdditionalItems]  WITH CHECK ADD  CONSTRAINT [AdditionalItemsLinkPetReservationDeletionConstraint] FOREIGN KEY([ReservationId], [PetId])
REFERENCES [dbo].[PetReservation] ([ReservationId], [PetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdditionalItems] CHECK CONSTRAINT [AdditionalItemsLinkPetReservationDeletionConstraint]
GO
ALTER TABLE [dbo].[AdditionalItems]  WITH CHECK ADD FOREIGN KEY([ReservationId], [PetId])
REFERENCES [dbo].[PetReservation] ([ReservationId], [PetId])
GO
ALTER TABLE [dbo].[Cat]  WITH CHECK ADD  CONSTRAINT [CatLinkPetDeletionConstraint] FOREIGN KEY([PetId])
REFERENCES [dbo].[Pet] ([PetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cat] CHECK CONSTRAINT [CatLinkPetDeletionConstraint]
GO
ALTER TABLE [dbo].[Cat]  WITH CHECK ADD FOREIGN KEY([PetId])
REFERENCES [dbo].[Pet] ([PetId])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CustomerLinkAccountDeletionConstraint] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CustomerLinkAccountDeletionConstraint]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CustomerLinkEmergencyContactDeletionConstraint] FOREIGN KEY([EmergencyContactID])
REFERENCES [dbo].[EmergencyContact] ([EmergencyContactID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CustomerLinkEmergencyContactDeletionConstraint]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Dog]  WITH CHECK ADD  CONSTRAINT [DogLinkPetDeletionConstraint] FOREIGN KEY([PetId])
REFERENCES [dbo].[Pet] ([PetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dog] CHECK CONSTRAINT [DogLinkPetDeletionConstraint]
GO
ALTER TABLE [dbo].[Dog]  WITH CHECK ADD FOREIGN KEY([PetId])
REFERENCES [dbo].[Pet] ([PetId])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [EmploeeLinkAccountDeletionConstraint] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [EmploeeLinkAccountDeletionConstraint]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([ReservationId])
REFERENCES [dbo].[Reservation] ([ReservationId])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [InvoiceLinkReservationDeletionConstraint] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[Reservation] ([ReservationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [InvoiceLinkReservationDeletionConstraint]
GO
ALTER TABLE [dbo].[Medication]  WITH CHECK ADD FOREIGN KEY([ReservationId], [PetId])
REFERENCES [dbo].[PetReservation] ([ReservationId], [PetId])
GO
ALTER TABLE [dbo].[Medication]  WITH CHECK ADD  CONSTRAINT [MedicationLinkPetReservationDeletionConstraint] FOREIGN KEY([ReservationId], [PetId])
REFERENCES [dbo].[PetReservation] ([ReservationId], [PetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Medication] CHECK CONSTRAINT [MedicationLinkPetReservationDeletionConstraint]
GO
ALTER TABLE [dbo].[MedicationDose]  WITH CHECK ADD FOREIGN KEY([MedicationId], [ReservationId], [PetId])
REFERENCES [dbo].[Medication] ([MedicationId], [ReservationId], [PetId])
GO
ALTER TABLE [dbo].[Owner]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Owner]  WITH CHECK ADD  CONSTRAINT [OwnerLinkAccountDeletionConstraint] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Owner] CHECK CONSTRAINT [OwnerLinkAccountDeletionConstraint]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [CustomerLinkPetDeletionConstraint] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Customer] ([AccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [CustomerLinkPetDeletionConstraint]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Customer] ([AccountId])
GO
ALTER TABLE [dbo].[PetReservation]  WITH CHECK ADD FOREIGN KEY([FoodId])
REFERENCES [dbo].[Food] ([FoodId])
GO
ALTER TABLE [dbo].[PetReservation]  WITH CHECK ADD FOREIGN KEY([HousingId])
REFERENCES [dbo].[Housing] ([HousingId])
GO
ALTER TABLE [dbo].[PetReservation]  WITH CHECK ADD FOREIGN KEY([PetId])
REFERENCES [dbo].[Pet] ([PetId])
GO
ALTER TABLE [dbo].[PetReservation]  WITH CHECK ADD FOREIGN KEY([ReservationId])
REFERENCES [dbo].[Reservation] ([ReservationId])
GO
ALTER TABLE [dbo].[PetReservation]  WITH CHECK ADD  CONSTRAINT [PetReservationLinkFoodDeletionConstraint] FOREIGN KEY([FoodId])
REFERENCES [dbo].[Food] ([FoodId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PetReservation] CHECK CONSTRAINT [PetReservationLinkFoodDeletionConstraint]
GO
ALTER TABLE [dbo].[PetReservation]  WITH CHECK ADD  CONSTRAINT [PetReservationLinkPetDeletionConstraint] FOREIGN KEY([PetId])
REFERENCES [dbo].[Pet] ([PetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PetReservation] CHECK CONSTRAINT [PetReservationLinkPetDeletionConstraint]
GO
ALTER TABLE [dbo].[PetReservationService]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([ServiceId])
GO
ALTER TABLE [dbo].[PetReservationService]  WITH CHECK ADD FOREIGN KEY([ReservationId], [PetId])
REFERENCES [dbo].[PetReservation] ([ReservationId], [PetId])
GO
ALTER TABLE [dbo].[PetReservationService]  WITH CHECK ADD  CONSTRAINT [PetReservationServiceLinkPetReservationDeletionConstraint] FOREIGN KEY([ReservationId], [PetId])
REFERENCES [dbo].[PetReservation] ([ReservationId], [PetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PetReservationService] CHECK CONSTRAINT [PetReservationServiceLinkPetReservationDeletionConstraint]
GO
ALTER TABLE [dbo].[PetReservationService]  WITH CHECK ADD  CONSTRAINT [PetReservationServiceLinkServiceDeletionConstraint] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([ServiceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PetReservationService] CHECK CONSTRAINT [PetReservationServiceLinkServiceDeletionConstraint]
GO
ALTER TABLE [dbo].[PetVaccination]  WITH CHECK ADD FOREIGN KEY([PetId])
REFERENCES [dbo].[Pet] ([PetId])
GO
ALTER TABLE [dbo].[PetVaccination]  WITH CHECK ADD FOREIGN KEY([VaccinationId])
REFERENCES [dbo].[Vaccination] ([VaccinationId])
GO
ALTER TABLE [dbo].[PetVaccination]  WITH CHECK ADD  CONSTRAINT [PetVaccinationLinkVaccinationDeletionConstraint] FOREIGN KEY([VaccinationId])
REFERENCES [dbo].[Vaccination] ([VaccinationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PetVaccination] CHECK CONSTRAINT [PetVaccinationLinkVaccinationDeletionConstraint]
GO
ALTER TABLE [dbo].[Run]  WITH CHECK ADD FOREIGN KEY([HousingId])
REFERENCES [dbo].[Housing] ([HousingId])
GO
ALTER TABLE [dbo].[Run]  WITH CHECK ADD  CONSTRAINT [RunLinkHousingDeletionConstraint] FOREIGN KEY([HousingId])
REFERENCES [dbo].[Housing] ([HousingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Run] CHECK CONSTRAINT [RunLinkHousingDeletionConstraint]
GO
ALTER TABLE [dbo].[Suite]  WITH CHECK ADD FOREIGN KEY([HousingId])
REFERENCES [dbo].[Housing] ([HousingId])
GO
ALTER TABLE [dbo].[Suite]  WITH CHECK ADD  CONSTRAINT [SuiteLinkHousingDeletionConstraint] FOREIGN KEY([HousingId])
REFERENCES [dbo].[Housing] ([HousingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Suite] CHECK CONSTRAINT [SuiteLinkHousingDeletionConstraint]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [AccountIDBoundary] CHECK  (([AccountID]>(0)))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [AccountIDBoundary]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([Type]='Owner' OR [Type]='Employee' OR [Type]='Customer'))
GO
ALTER TABLE [dbo].[AdditionalItems]  WITH CHECK ADD  CONSTRAINT [ItemIDBoundary] CHECK  (([ItemID]>(0)))
GO
ALTER TABLE [dbo].[AdditionalItems] CHECK CONSTRAINT [ItemIDBoundary]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [DiscountIDBoundary] CHECK  (([DiscountID]>(0)))
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [DiscountIDBoundary]
GO
ALTER TABLE [dbo].[EmergencyContact]  WITH CHECK ADD  CONSTRAINT [EmergencyContactIDBoundary] CHECK  (([EmergencyContactID]>(0)))
GO
ALTER TABLE [dbo].[EmergencyContact] CHECK CONSTRAINT [EmergencyContactIDBoundary]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD CHECK  (([Type]='Cat' OR [Type]='Dog'))
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FoodIDBoundary] CHECK  (([FoodID]>(0)))
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FoodIDBoundary]
GO
ALTER TABLE [dbo].[Housing]  WITH CHECK ADD CHECK  (([Type]='Run' OR [Type]='Suite'))
GO
ALTER TABLE [dbo].[Housing]  WITH CHECK ADD  CONSTRAINT [HousingIDBoundary] CHECK  (([HousingID]>(0)))
GO
ALTER TABLE [dbo].[Housing] CHECK CONSTRAINT [HousingIDBoundary]
GO
ALTER TABLE [dbo].[Medication]  WITH CHECK ADD  CONSTRAINT [MedicationIDBoundary] CHECK  (([MedicationID]>(0)))
GO
ALTER TABLE [dbo].[Medication] CHECK CONSTRAINT [MedicationIDBoundary]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD CHECK  (([Sex]='F' OR [Sex]='M'))
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD CHECK  (([Species]='Cat' OR [Species]='Dog'))
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [PetIDBoundary] CHECK  (([PetID]>(0)))
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [PetIDBoundary]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [PriceIDBoundary] CHECK  (([PriceID]>(0)))
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [PriceIDBoundary]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [ReservationIDBoundary] CHECK  (([ReservationID]>(0)))
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [ReservationIDBoundary]
GO
ALTER TABLE [dbo].[Run]  WITH CHECK ADD CHECK  (([Size]='S' OR [Size]='M' OR [Size]='L'))
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD CHECK  (([ServiceName]='Grooming' OR [ServiceName]='Bathing' OR [ServiceName]='Walking' OR [ServiceName]='Playtime'))
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD CHECK  (([ServiceName]='Grooming' OR [ServiceName]='Bathing' OR [ServiceName]='Walking' OR [ServiceName]='Playtime'))
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [ServiceIDBoundary] CHECK  (([ServiceID]>(0)))
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [ServiceIDBoundary]
GO
ALTER TABLE [dbo].[Suite]  WITH CHECK ADD CHECK  (([Accommodation]='Regular' OR [Accommodation]='Semi-Luxury' OR [Accommodation]='Luxury'))
GO
ALTER TABLE [dbo].[Vaccination]  WITH CHECK ADD CHECK  (([Type]='Cat' OR [Type]='Dog'))
GO
ALTER TABLE [dbo].[Vaccination]  WITH CHECK ADD  CONSTRAINT [VaccinationIDBoundary] CHECK  (([VaccinationID]>(0)))
GO
ALTER TABLE [dbo].[Vaccination] CHECK CONSTRAINT [VaccinationIDBoundary]
GO
